@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

:root {
    --main-color: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #7d51c4; 
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 248, 248);
}

header {
    background-color: rgb(15, 15, 25);
    border-bottom: 9px solid rgb(15, 15, 33);

    width: 100%;

    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

header img {
    position: absolute;
    left: 15px;
    top: 29px;

    margin-right: 10px;
    max-width: 170px;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;

    position: relative;
}

.links a.active {
    color: white;
    font-weight: bold;
}

.links a:hover {
    color: white;

    transition: 200ms;
}

.links a::after {
    content: "";

    width: 0;
    height: 2px;

    position: absolute;
    bottom: -4px;
    left: 0;

    background-color: white;
}

.links a:hover::after {
    width: 100%;

    transition: width 295ms ease-in-out;
}

#footer-links {
    margin: 0 auto;
    padding: 50px 0;

    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

#footer-links a + a {
    margin-left: 32px;
}

#footer-links a {
    padding: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    opacity: .6;

    position: relative;
}

#footer-links a:hover {
    opacity: 1;

    transition: 250ms;
}

#footer-links a::after {
    content: "";

    width: 100%;
    height: 0;

    position: absolute;
    bottom: -4px;
    left: 0;

    background-color: white;
}

#footer-links a:hover::after {
    height: 3px;

    transition: height 330ms ease-in-out;
}