{% extends "layout.njk" %}

{% block content %}

    <section class="card">
    
        <article class="card_image" style=" max-width:100%; height:100%;background: url({{ student.avatar_url }}) no-repeat center center / cover">
        
        </article>

        <article class="details">
        
            <form action="/students?_method=PUT" method="POST">

                <h3>Edit Student</h3>

                {% include 'students/fields.njk' %}

                <div class="buttons">

                <button type="submit">Salvar</button>

                <input type="hidden" name="id" value={{ student.id }} />

            </form>        

            <form id="form-delete" action="/students?_method=DELETE" method="POST">

                <button id="student_delete" type="submit">Deletar</button>
                
                <input type="hidden" name="id" value={{ student.id }} />
            
            </form>   

                </div>
        </article>

    </section>

    {% include "../confirm.njk" %}

{% endblock %} 