{% extends "layout.njk" %}

{% block content %}

    <section class="card">
    
        <article class="card_image" style=" max-width:100%; height:100%;background: url({{ student.avatar_url }}) no-repeat center center / cover">
        
        </article>

        <article class="details">

            <h3>Student</h3>

            <div class="item">
            
                <div>Student</div>

                <div>{{ student.name }}</div>
            
            </div>

            <div class="item">
            
                <div>E-mail</div>

                <div>{{ student.email }}</div>
            
            </div>

            <div class="item">
            
                <div>BirthDay</div>

                <div>{{ student.birth }}</div>
            
            </div>

            <div class="item">
            
                <div>Educational level</div>

                <div>{{ student.level }}</div>
            
            </div>

            <div class="item">
            
                <div>Workload</div>

                <div>{{ student.workload }} Hours</div>
            
            </div>

            <div class="item">
            
                <div>Instructor</div>

                <div>{{ student.teacher_name }}</div>
            
            </div>

        
            <div class="item">
            
                <div id="special_mark">Since</div>

                <div>{{ student.created_at }}</div>
            
            </div>

            <a href="/students/{{ student.id }}/edit" class="button">Editar</a>

        </article>    
        
    </section>

{% endblock %}