    <div class="item">
    
        <div>Teacher</div>

        <div>
        
            <input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url }}" />
        
        </div>
    
    </div>

    <div class="item">
    
        <div>Teacher</div>

        <div>
        
            <input type="text" name="name" placeholder="complete name" value="{{ teacher.name }}" />
        
        </div>
    
    </div>

    <div class="item">
    
        <div>Ages</div>

        <div>
        
            <input type="date" name="birth_date"  value="{{ teacher.birth_date }}" />
        
        </div>
    
    </div>

    <div class="item">
        
        <div>Class type</div>

        <div>
        
            <span>
                <input type="radio" name="class_type" id="pres" value="presential" {% if teacher.type =="presential"  %}
                checked
                {% endif %} /> <label for="pres"> Presential </label>
            </span>

            <span>
                <input type="radio" name="class_type" id="dist" value="distance"  {% if teacher.type =="distance" %}
                checked
                {% endif %} /> <label for="dist"> To distance </label>
            </span>
        
        </div>
        
    </div>

    <div class="item">

        <div>Educational level</div>
    
        <select name="education_level">
            
            <option value="highSchool" {% if teacher.level == "highSchool" %} selected {% endif %}>High school</option>
            <option value="university"{% if teacher.level == "university" %} selected {% endif %}>University</option>
            <option value="master"{% if teacher.level == "master" %} selected {% endif %}>Master</option>
            <option value="doctor"{% if teacher.level == "doctor" %} selected {% endif %}>Doctorate degree</option>
            
        </select>
    
    </div>

    <div class="item">
    
        <div>Monitoring</div>

        <div>
        
            <input type="text" name="subjects_taught" placeholder="separe in comma" value="{{ teacher.services }}" />
        
        </div>     

    </div>